---
layout: default
---

<div class="home">
    <ul class="posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
        <li>
           <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
           
           <div class="post-info">
               <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
               <!-- Display post categories as tags -->
               <div class="post-tags">
                   {% for category in post.categories %}
                       <span class="tag">{{ category }}</span>
                   {% endfor %}
               </div>
           </div>
        </li>
    {% endfor %}
    </ul>


    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
        <span class="previous">Previous</span>
    {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
     <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
        <span class="next ">Next</span>
    {% endif %}
    </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
