<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<title>成语接龙</title>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <v-layout>
                        <v-toolbar light>
                            <v-toolbar-title> 输入成语首字母拼音 </v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-form>
                            <v-text-field label="拼音" v-model="message" required></v-text-field>
                        </v-form>
                        <v-card>
                            <p>entered time string: {{ message }}</p>
                            <ol>
                                <li v-for="chengyu in transform(message)">
                                    {{ chengyu }}
                                </li>
                            </ol>
                        </v-card>
                    </v-layout>
                </v-container>
            </v-content>
        </v-app>
    </div>
</body>
<script src="/assets/js/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="/assets/js/chengyu.js"></script>