<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<title>成语接龙</title>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container align-center>
                    <v-layout row wrap>
                        <v-flex xs6 offset-xs3>
                            <v-form>
                                <v-text-field label="拼音(输入首字母拼音查找成语)" v-model="message" required></v-text-field>
                            </v-form>
                        </v-flex>
                        <v-flex xs6 offset-xs3 text-xs-center>
                            <ol>
                                <li v-for="chengyu in transform(message)">
                                    {{ chengyu }}
                                </li>
                            </ol>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>
        </v-app>
    </div>
</body>
<script src="/assets/js/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="/assets/js/chengyu.js"></script>